* {
    margin: 0;
    padding: 0;
}

#pageContainer {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5e/Water_drop_001.jpg');
    width: 100vw;
    height: 300vh;
    background-size: cover;
}